body{
  background-image: url(fondo.jpg) ;
  background-size: 50%;
  
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.container{
    background: #999191;
     width: 1000px;
     height: 1000p;
     margin: 0px auto;
     border: 0px solid black;
}
.rectangulo{
    background:#eef6b0;
    width: 1000px;
    height: 380px;
    z-index: 0;

}

.img{
    border-radius: 100%;
    border: 3px solid rgb(141, 15, 15);
    position: absolute;
    top: 2%;
    right: 56%;
    z-index: 2;
}

.MI_PORTAFOLIO{

    color: rgba(241, 183, 229, 0.13);
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position-y:center ;
    background-clip: TEXT;
    text-align: center;
    text-transform:uppercase ;
    font-weight: bold;
    font-size: 75px;

    z-index: 3;
    -webkit-background-clip: TEXT;

}

* {
        box-sizing: border-box
    }


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #ED5E5A;
  color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 333.3px;
  
}

.tablink:hover {
  background-color: #ED5E5A;
}


.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height:800px;
}

#sobre_mi {   background-color: #ED5E5A;}
#mi_educacion {background-color: #ED5E5A;}
#mi_experiencia {background-color:#ED5E5A; }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.tabcontent{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  
}

.nombre{
  font-size: 100px;
  bottom: 190px;
  left: 930px;
  
}

.titulo{
  font-size: 50px;
  bottom: 190px;
  left: 930px;
  margin-bottom: 50px;
}
.cont {
  margin: 20px;
  margin-top: 50px;
  width: 50px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
.cont{
  width: 100%;
  height: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.cont img {
  float: left;
  width: 400px;
  margin-right: 50px;
  border-radius: 20%;
  margin-bottom: 15px;
}
.parrafo{
  font-size: 40px;
}
 

.formacion{
  position: relative;
  align-items: center;
  text-align: center;
  font-size: 30px;

}
.formacion h1 {
  margin-top: 20px;

}

.idioma{
  padding-top: 30px;
  padding-bottom: 10px;

}


.competencias{
  padding-top: 30px;
  padding-bottom: 10px;
  
}

.tabcontent .experiencia{
  font-size: 25px;
  padding-top: 80px;
}
.empresa2 {
  padding-top: 80px;
  
}



/* footer */

footer{
  background:#eef6b0;
  padding-bottom: 0.1px;


}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us{
  width: 40%;
  color: #ED5E5A;

}

.brand{
  font-weight: 100%;
  font-size: 70px;
  text-align: center;
}

.brand+p{
  font-weight: 1000;
  left: 60px;
  text-align: center;
}

.social-media{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px; 
  
  
}
.social-media-icon{
  display: inline-block;
  margin-left: 20px;
  width: 150px;
  height: 150px;
  border: 2px solid #F59692 ;
  border-radius: 50%;
  text-align: center;
  color: #3FB497 ;
  
}
.social-media-icon:hover{
  background: #F59692;
  color: #ED5E5A;
  
}

.social-media-icon i{
  font-size: 130px;
  line-height: 150px;
  

}

.line{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #ED5E5A;
  margin-bottom: 60px;
  
}